<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE log4j:configuration SYSTEM "/opt/oss/NSN-jbi_cpf/conf/log4j_instance_specific/log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
	debug="false">
	<!--This is final xml4j that confirms xml4j.dtd -->
	<appender class="org.apache.log4j.ConsoleAppender" name="CONSOLE">
		<param name="threshold" value="INFO" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{yyyy-MM-dd-'T'HH:mm:ss.SSSZ} | ${host} | %x | %-15t | %-5p | %c | %m%n" />
		</layout>
	</appender>
	<appender class="org.apache.log4j.RollingFileAppender" name="mf-info">
		<param name="File" value="/var/opt/oss/log/nbi3gc/proxy/oss_activity0_0.log" />
		<param name="threshold" value="INFO" />
		<param name="maxFileSize" value="10MB" />
		<param name="maxBackupIndex" value="49" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{yyyy-MM-dd-'T'HH:mm:ss.SSSZ} | ${host} | %x | %-15t | %-5p | %c | %m%n" />
		</layout>
	</appender>
	<appender class="org.apache.log4j.RollingFileAppender" name="mf-trace">
		<param name="threshold" value="OFF" />
		<param name="File" value="/var/opt/oss/log/nbi3gc/proxy/oss_trace0_0.log" />
		<param name="maxFileSize" value="10MB" />
		<param name="maxBackupIndex" value="49" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{yyyy-MM-dd-'T'HH:mm:ss.SSSZ} | ${host} | %x | %-15t | %-5p | %c | %m%n" />
		</layout>
	</appender>
	<appender class="org.apache.log4j.RollingFileAppender" name="mf-error">
		<param name="threshold" value="WARN" />
		<param name="File" value="/var/opt/oss/log/nbi3gc/proxy/oss_error0_0.log" />
		<param name="maxFileSize" value="10MB" />
		<param name="maxBackupIndex" value="49" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{yyyy-MM-dd-'T'HH:mm:ss.SSSZ} | ${host} | %x | %-15t | %-5p | %c | %m%n" />
		</layout>
	</appender>
	<logger name="com.nsn.oss.nbi">
		<level value="INFO" />
	</logger>
	<root>
		<level value="INFO" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="mf-info" />
		<appender-ref ref="mf-trace" />
		<appender-ref ref="mf-error" />
	</root>
</log4j:configuration>
